# Dependencies
node_modules/
/.pnp
.pnp.js
pnpm-lock.yaml

# Testing
/coverage

# Next.js
/.next/
/out/
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build output
/build
/dist
